/build
/build-dev
/src/exemplo
/src/aspec
/src/hello
/tests/cuademo/gtnap_cualib/exemplo
/tests/cuademo/gtnap_cualib/exemplo.app
/tests/aspec/aspec
/tests/gtnap/gtnap
/tests/gtnap/gtnap.exe
/tools/build
/tests/unotest/test.pdf

!/src/debugger/res/Application.manifest
!/tests/cuademo/Application.manifest
